<html>
<head>
	<title>Details for commit</title>
	<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="history.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="history.js" type="text/javascript" charset="utf-8"></script>
</head>

<body style="padding: 0px; border: 0px">
	<div id="rightcontent">
		<div id="buttons">
			<a class="servicebutton" id="gist" onClick="confirm_gist();return false" href='#'>
				Gist&nbsp;it
			</a>
		</div>
		<img id="gravatar" src="">
	</div>
	<table id="commit_header">
	<tr>
		<td class="property_name">SHA:</td>
		<td id="commitID"></td>
	</tr>
	<tr>
		<td class="property_name">Author:</td>
		<td id="authorID">Pieter de Bie</td>
	</tr>
	<tr>
		<td class="property_name">Date:</td>
		<td id="date">Pieter de Bie</td>
	</tr>
	<tr style="display:none">
		<td class="property_name">Committer:</td>
		<td id="committerID">Pieter de Bie</td>
	</tr>
	<tr style="display:none">
		<td class="property_name">Commit Date:</td>
		<td id="committerDate">Pieter de Bie</td>
	</tr>
	<tr>
		<td class="property_name">Subject:</td>
		<td id="subjectID" style="font-weight:bold">Pieter de Bie</td>
	</tr>
	<tr style="display:none">
		<td class="property_name">Refs:</td>
		<td id="refs"></td>
	</tr>
	</table>
	<div id="notification" style="display:none;">
		<img src="../../images/spinner.gif" alt="Spinner" id="spinner"></img>
		<div id="notification_message"></div>
	</div>
	<hr>
	<div id="message_files">
		<pre id="message"></pre>
		<div id="files"></div>
	</div>

	<div id="diff"></div>
</body>
