[submodule "objective-git"]
	path = objective-git
	url = https://github.com/libgit2/objective-git.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "SyntaxHighlighter"]
	path = SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
[submodule "MGScopeBar"]
	path = MGScopeBar
	url = https://github.com/rowanj/MGScopeBar.git
