[submodule "objective-git"]
	path = External/objective-git
	url = https://github.com/libgit2/objective-git.git
[submodule "SyntaxHighlighter"]
	path = External/SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
