[submodule "objective-git"]
	path = External/objective-git
	url = https://github.com/libgit2/objective-git.git
[submodule "Sparkle"]
	path = External/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
[submodule "SyntaxHighlighter"]
	path = External/SyntaxHighlighter
	url = https://github.com/alexgorbatchev/SyntaxHighlighter.git
[submodule "MGScopeBar"]
	path = External/MGScopeBar
	url = https://github.com/rowanj/MGScopeBar.git
