pre 
{
	background: rgb(238, 238, 238) !important;
	display: block;
	width: 750px;
	padding: 5px;
	margin: 10px;;
}

code
{
	font-family: 'andale mono';
}

img
{
	display: block;
	margin: 10px auto 10px auto;
}

img.floatleft
{
	float: left;
	display: inline;
	margin: 10px;
}

img.floatright
{
	float: right;
	display: inline;
	margin: 10px;
}