<html>
<head>
	<title>Details for commit</title>
	<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="../../lib/jquery-2.0.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>

	<link rel="stylesheet" href="log.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="log.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="message" style="display:none">
		There are no differences
	</div>
	<div id='log'></div>
</body>
