body {
	margin: 0;
	margin-top: 5px;
	width: 100%;
}
code .delline, code .oldfile {
  background-color: #FEE;
  color: #B00;
}

code .addline, code .newfile {
  background-color: #DFD;
  color: #080;
}
code .fileline {
  font-weight: bold;
}

code .hunkheader {
  background-color: #f7f7f7;
  color: #bbb;
}

pre {
  width: 100%;
}

pre code {
  width: 100%;
}

#CurrentHunk {
	border-left: 5px solid black;
}

.whitespace {
	background-color: rgba(255,0,0,0.5);
}


table.diff {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	border-spacing: 0;
}
.lineno {
	padding-left: 2px;
	padding-right: 2px;
	background-color: #ECECEC;
	color: #A9A9A9;
	border: 1px solid #DDDDDD;
	text-align: right;
}