body {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

#title {
	padding: 2px;
	padding-left: 5px;
	border-bottom: 1px solid black;
	margin: 0px;
	font-weight: 500;
	background-color: #ECF3FD;
	font-size: 100%;
	position: fixed;
	top: 0px;
	width: 100%;
}

.floatright {
	float: right;
}

pre {
	margin-top: 0;
}

table.diff {
	margin-top: 0;
}

#notification {
	margin-top: 30px;
}

table.diff tr td a.stagebutton {
	display: block;
	width: 40px;
	padding: 0 2px 0 2px;
	margin-bottom: 4px;
	margin-right: 10px;

	border: 1px solid #3465a4;
	background-color: #cce5ff;
	color: #204a87;

	font-family: 'Lucida Grande';
	font-size: 80%;
	text-decoration: none;
	text-align: center;

	-webkit-border-radius: 2px;
	float: left;
}