body {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

#title {
	padding: 0px;
	padding-left: 5px;
	border-bottom: 1px solid black;
	margin: 0px;
	font-weight: 500;
	background-color: #ECF3FD;
	font-size: 100%;
	position: fixed;
	font-family: Helvetica;
	top: 0px;
	width: 100%;
}
