body {
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

#title {
	padding: 2px;
	padding-left: 5px;
	border-bottom: 1px solid black;
	margin: 0px;
	font-weight: 500;
	background-color: #ECF3FD;
	font-size: 100%;
	position: fixed;
	z-index: 2;
	top: 0px;
	width: 100%;
}

#state {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	text-align: center;
	font-size: 200%;
	padding: 20px;
	width: auto;

	background-color: #B4D7FF;
	border: 2px solid #45A1FE;

	-webkit-border-radius: 10px;
}

.floatright {
	float: right;
}

pre {
	margin-top: 0;
}

table.diff {
	margin-top: 0;
}

#notification {
	margin-top: 30px;
}

#contextSize {
	width: 80px;
	margin-top: -0.5px;
	float: right;
	margin-right: 20px;
}

#contextTitle {
	margin-right: 3px;
	float: right;
}

.diff .hunkbutton {
	width: 40px;
	padding: 0 2px 0 2px;
	margin-bottom: 4px;
	margin-right: 1px;
	float: right;
	position: relative;
	z-index: 1;

	border: 1px solid #3465a4;
	background-color: #cce5ff;
	color: #204a87;

	font-family: 'Lucida Grande';
	font-size: 80%;
	text-decoration: none;
	text-align: center;

	-webkit-border-radius: 2px;
}
#selected {
    background-color: #B5D5FE !important;
}
#selected div {
    background-color: #B5D5FE;
}

#selected #stagelines {
    padding-left: 2px;
    width: auto;
    padding-right: 2px;
    margin-right: 2px;
    margin-top: 1px;
    clear: right;
    background-color: #FFF;
}

.disabled {
    display: none;
}

#multiselect {
	margin-left: 50px;
	margin-right: 100px;
	padding: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #EEE;
}

#multiselect div.title {
	background-color: #EEE;
	font-weight: bold;
	border: 5px solid #EEE;
	margin: -5px;
	padding-left: 20px;
}
