<html>
<head>
	<title>Diff for file</title>
	<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>
	
	<link rel="stylesheet" href="commit.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="commit.js" type="text/javascript" chahrset="utf-8"></script>
	<script src="multipleSelection.js" type="text/javascript" chahrset="utf-8"></script>
</head>

<body>
	<h1 id='title'>
		<input type="range" min="1" max="8" value="3" id="contextSize">
		<span id="contextTitle">Context:</span>
		<span id="status">Nothing to commit</span>

	</h1>

	<div id="notification" style="display:none">
		<img src="../../images/spinner.gif" alt="Spinner" id="spinner"></img>
		<div id="notification_message"></div>
	</div>

	<!-- we use "state" for the current status (as opposed to something in the diff
		 and we use the notification for short notifications, which can occur together
		 with a diff display -->
	<div id="state">
		Nothing to commit (working directory clean)
	</div>
	<div id='diff'></div>
</body>
