<html>
<head>
	<title>Details for commit</title>
	<link rel="stylesheet" href="../../css/GitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/md5.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/diffHighlighter.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../lib/keyboardNavigation.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		var showDiff = function(diff) {
			highlightDiff(diff, $("diff"));
		}
	</script>
</head>

<body>
	<div id='diff'></div>
</body>
