.diff .file {
	margin: 11px;
	border: 1px solid #333;
}

.diff .file .fileHeader {
	margin: 5px;
	font-weight: bold;
}

.diff .file .fileHeader a {
    color: #FFF;
    text-decoration: none;
}

.diff .file .diffContent {
	white-space: pre;
	font-family: Menlo, Monaco, monospace;
}

.diff .file .diffcontent .lineno {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #131313;
	color: #565656;
	border-right: 1px solid #222222;
	text-align: right;
}

.diff .file .diffContent .lines {
	overflow: auto;
}

.diff .file .diffContent .lines .hunkheader {
  background-color: #080808;
  color: #444;
}

.diff .file .diffContent .lines > div {
  padding-left: 2px;
}

.diff .file .diffcontent .lines .delline {
  background-color: #011;
  color: #4FF;
}

.diff .file .diffcontent .lines .addline {
  background-color: #202;
  color: #F7F;
}

.diff .file .diffcontent .lines .markerline {
    display:none;
}

.diff .file .diffcontent .lines .nonewline:after {
	content: "  \20e0\23ce";
	font-family: -apple-system, "Helvetica Neue", sans-serif;
}
.diff .file .diffcontent .lines .whitespace {
	background-color: rgba(0,255,255,0.5);
}
.diff .file .diffcontent .lines del,
.diff .file .diffcontent .lines ins {
	text-decoration: none; border-radius: 0.2em;
}
.diff .file .diffcontent .lines .delline del {
	background-color: #014040;
	color: #5FF;
}
.diff .file .diffcontent .lines .addline ins {
	background-color: #4D0050;
	color: #F8F;
}

#CurrentHunk {
	border-left: 5px solid black;
}
