#notification {
	margin: 5px;
	padding: 3px;
	clear: both;

	border: 1px solid black;
	background-color: #0C0C0C;

	text-align: center;
	font-size: 80%;

	-webkit-border-radius: 2px;
}

#notification.success {
	background-color: #330066;
	border: 1px solid #663399;
}

#notification.fail {
	background-color: #006666;
	border: 1px solid #339999;
}