<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>GitX-dev Changelog</title>
    <link>http://builds.phere.net/GitX/development/GitX-dev.xml</link>
    <description>Most recent changes with links to updates.</description>
    <language>en</language>

    <item>
      <title>GitX-dev 0.14.$build_number</title>
      <sparkle:releaseNotesLink>http://builds.phere.net/GitX/development/GitX-dev-$build_number.html</sparkle:releaseNotesLink>
      <sparkle:minimumSystemVersion>10.6.0</sparkle:minimumSystemVersion>
      <pubDate>$pub_date</pubDate>
      <enclosure url="http://builds.phere.net/GitX/development/GitX-dev-$build_number.dmg" sparkle:version="0.14.$build_number" length="$file_size" sparkle:dsaSignature="$file_sig" type="application/octet-stream" />
    </item>

  </channel>
</rss>
