<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>GitX-dev Changelog</title>
    <link>http://builds.phere.net/GitX/development/GitX-dev.xml</link>
    <description>Most recent changes with links to updates.</description>
    <language>en</language>

    <item>
      <title>GitX-dev 0.15.$build_number</title>
      <sparkle:releaseNotesLink>http://builds.phere.net/GitX/development/GitX-dev-$build_number.html</sparkle:releaseNotesLink>
      <sparkle:minimumSystemVersion>10.8.0</sparkle:minimumSystemVersion>
      <pubDate>$pub_date</pubDate>
      <enclosure url="http://builds.phere.net/GitX/development/GitX-dev-$build_number.dmg" sparkle:version="0.15.$build_number" length="$file_size" sparkle:dsaSignature="$file_sig" type="application/octet-stream" />
    </item>
    <item>
      <title>GitX-dev 0.15.1949</title>
      <sparkle:releaseNotesLink>http://builds.phere.net/GitX/development/GitX-dev-1949.html</sparkle:releaseNotesLink>
      <sparkle:minimumSystemVersion>10.7.0</sparkle:minimumSystemVersion>
      <pubDate>Sun, 27 Jul 2014 06:50:09 -0000</pubDate>
      <enclosure url="http://builds.phere.net/GitX/development/GitX-dev-1949.dmg" sparkle:version="0.15.1949" length="3651870" sparkle:dsaSignature="MC0CFFJlU8wu4RWMVAJmIdAFM7utWaxPAhUAnCxSe9U6MgSZZA3DeWR1if76etg=" type="application/octet-stream" />
    </item>
    <item>
      <title>GitX-dev 0.14.81</title>
      <sparkle:releaseNotesLink>http://builds.phere.net/GitX/development/GitX-dev-81.html</sparkle:releaseNotesLink>
      <sparkle:minimumSystemVersion>10.6.0</sparkle:minimumSystemVersion>
      <pubDate>Sat, 08 Jun 2013 05:24:55 -0000</pubDate>
      <enclosure url="http://builds.phere.net/GitX/development/GitX-dev-81.dmg" sparkle:version="0.14.81" length="2696390" sparkle:dsaSignature="MCwCFAEqBu+AytKHgI1rBOT51++6Ejq2AhQFdGInVCvfj1v9F5V1nDFJMGWeTg==" type="application/octet-stream" />
    </item>
  </channel>
</rss>
