#commit_header {
	width: 100%;
	font-family: Helvetica;
	font-size: 12px;
}
.property_name {
	width: 50px;
	color:#7F7F7F;
	text-align: right;
	font-weight: bold;
}
#message {
	font-family: Helvetica;
	font-size: 12px;
}

#details {
	font-family: Monaco;
	font-size: 10px;
	overflow: hidden;
	width: 600px;
}
hr {
	border: 0;
	height: 1px;
	width: 80%;
	background-color: #999;
}

pre {
  overflow-y: auto;
}

pre code {
  display: table-cell;
  width: 100%;
}
