#commit_header {
	width: 100%;
	font-family: Helvetica;
	font-size: 12px;
}
.property_name {
	width: 50px;
	color:#999;
	text-align: right;
	font-weight: bold;
}
#message {
	font-family: Helvetica;
	font-size: 12px;
}

#details {
	font-family: Monaco;
	font-size: 10px;
	overflow: none;
	width: 600px;
}
hr {
	border: 0;
	height: 1px;
	width: 80%;
	background-color: #999;
}