code .delline {
  background-color: #FEE;
  color: #B00;
}

code .addline {
  background-color: #DFD;
  color: #080;
}

code .meta {
  background-color: #f7f7f7;
  color: #bbb;
}

pre {
  overflow-y: auto;
  width: 100%;
}

pre code {
  display: table-cell;
  padding: 9px;
  width: 100%;
}