table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

p{
	margin: 0;
	padding: 0;
}

tr.block.l1 p.summary{
	display: none;
}

table td {
	vertical-align: top;
	white-space: nowrap;
}

table {
	font: 11px "Menlo";
}

table.code td:nth-of-type(2) {
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

table.code td:nth-of-type(1) {
	text-align: right;
	border-right: 1px solid black;
	padding-right: 5px;
	padding-left: 5px;
	background-color: #f3f3f3;
}
table tr.block{
	border-top: 1px solid black;
}
table.blocks{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
}

table.blocks tr td:nth-of-type(2) {
	width: 100%;
}

-table.blocks tr.block:nth-of-type(even) td:nth-of-type(1),
-table.code tr:nth-of-type(even) td:nth-of-type(2) {
	background-color: #efefff;
}

table.code {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 100%;
}

table.blocks tr.block td:nth-of-type(1){
	padding-right: 5px;
	padding-left: 5px;
}