<html>
	<head>
		<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shCore.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/syntaxhighlighter/scripts/shBrushObjC.js" type="text/javascript" charset="utf-8"></script>
		<script src="blame.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="blame.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="../../css/shCoreGitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="../../css/shThemeGitX.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
		<div id="txt">hola</pre>
	</body>
</html>