<html>
	<head>
		<script src="../../lib/GitX.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/syntaxhighlighter_2.1.364/scripts/shCore.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../lib/syntaxhighlighter_2.1.364/scripts/shBrushJScript.js" type="text/javascript" charset="utf-8"></script>
		<script src="blame.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="blame.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="../../lib/syntaxhighlighter_2.1.364/styles/shCore.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="../../lib/syntaxhighlighter_2.1.364/styles/shThemeDefault.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>
	<body>
<table class='blocks'>
<tr class='block l20'>
<td><p class='author'>author Pieter de Bie</p><p class='summary'>summary Add a search field and subject</p></td>
<td>
<table class='code'>
	<tr><td>1</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;/*</pre></td></tr>
	<tr><td>2</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *  Extension for NSFileHandle to make it capable of easy network programming</pre></td></tr>
	<tr><td>3</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *</pre></td></tr>
	<tr><td>4</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *  Version 1.0, get the newest from http://michael.stapelberg.de/NSFileHandleExt.php</pre></td></tr>
	<tr><td>5</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *</pre></td></tr>
	<tr><td>6</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *  Copyright 2007 Michael Stapelberg</pre></td></tr>
	<tr><td>7</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *</pre></td></tr>
	<tr><td>8</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *  Distributed under BSD-License, see http://michael.stapelberg.de/BSD.php</pre></td></tr>
	<tr><td>9</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; *</pre></td></tr>
	<tr><td>10</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp; */</pre></td></tr>
	<tr><td>11</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;</pre></td></tr>
	<tr><td>12</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;#import &lt;Cocoa/Cocoa.h&gt;</pre></td></tr>
	<tr><td>13</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;#include &lt;netinet/in.h&gt;</pre></td></tr>
	<tr><td>14</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;#include &lt;arpa/inet.h&gt;</pre></td></tr>
	<tr><td>15</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;#include &lt;netdb.h&gt;</pre></td></tr>
	<tr><td>16</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;#include &lt;fcntl.h&gt;</pre></td></tr>
	<tr><td>17</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;</pre></td></tr>
	<tr><td>18</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;@interface NSFileHandle(NSFileHandleExt)</pre></td></tr>
	<tr><td>19</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;-(NSString*)readLine;</pre></td></tr>
	<tr><td>20</td><td><pre class='brush: js'>&nbsp;&nbsp;&nbsp;&nbsp;@end</pre></td></tr>
</table>
</td>
</tr>
</table>	</body>
</html>