#message {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	text-align: center;
	font-size: 200%;
	padding: 20px;
	width: auto;

	background-color: #4B2800;
	border: 2px solid #BA5E01;

	-webkit-border-radius: 10px;
}